<div class="container">
	<div class="row">
		<% unless @recipes.blank? %>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">レシピ名</th>
					<th scope="col">最近作った日</th>
				</tr>
			</thead>
			<tbody>
				<%= render @recipes %>
			</tbody>
		</table>
	</div>
	<% else %>
		<p>早速レシピを登録しましょう！</p>
	<% end %>
	<div class="row">
	<%= link_to new_recipe_path do %>
		<button type="button" class="btn btn-primary">新規作成</button>
	<% end %>
	</div>
</div>