.form-edituser {
width: 100%;
max-width: 380px;
padding: 15px;
margin: auto;
}

.form-edituser .checkbox {
font-weight: 400;
}

.form-edituser .form-floating:focus-within {
z-index: 2;
}

.form-edituser input[type="email"] {
margin-bottom: -1px;
border-bottom-right-radius: 0;
border-bottom-left-radius: 0;
}

.form-edituser input[type="password"] {
margin-bottom: 10px;
border-top-left-radius: 0;
border-top-right-radius: 0;
}
